line.gridmajor {
    stroke-width: 2px;
    stroke: rgba(0, 0, 0, 0.5);
}

line.gridminor {
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.2);
}

text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 31px;
    fill: black;
    pointer-events: none;
}

use.dark text,
text.dark {
    fill: white;
}

use.light text,
text.light {
    fill: black;
}
