body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background: #777;
    padding: 0px;
    margin: 0px;
}

div.app-top {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

div.app-main {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 64px;
}

div.toolbar {
    width: 100%;
    height: 64px;
    display: flex;
}

button.toolbar-button {
    font-size: 28px;
    display: inline-block;
    text-align: center;
    width: 64px;
    height: 48px;
    background-color: #AAC;
    border: solid 2px #225;
    border-radius: 8px;
    margin-left: 0.2em;
    margin-top: 8px;
    margin-bottom: 8px;
    text-shadow: black 2px 2px 3px;
}

details {
    cursor: default;
}

details summary {
    font-size: 120%;
}

div.options-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

div.options-group {
    flex-grow: 1;
    vertical-align: top;
    padding: 0.6em;
    border: solid #ddd 1px;
}

div.options-group label {
    display: block;
    white-space: nowrap;
}

div.options-group span.header {
    font-size: 115%;
    width: 100%;
    text-align: center;
    display: block;
    padding-bottom: 0.2em;
}

table.part-list, table.plan-stats {
    display: inline-block;
    vertical-align: top;
}

svg.plan {
    display: inline;
    flex-grow: 1;
    max-width: 100%;
    max-height: 100vh;
}

div.settings {
    display: flex;
    flex-direction: column;
    background: white;
    position: relative;
    text-align: left;
}

div.settings-row {
    border-top: solid #444 1px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.2em;
}

div.settings-row:first-child {
    border-top: none;
}

div.settings-row div.header {
    font-size: 120%;
    font-weight: bold;
    margin-left: 1em;
}

div.plan-display {
    flex-grow: 1;
}

th.top-header {
    text-align: center;
}

td.legend-symbol {
    padding-left: 4px;
    padding-right: 4px;
    font-family: 'Lucida Sans', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

td.color-code {
    font-family: 'Lucida Sans', Courier, monospace;
    padding-left: 4px;
    padding-right: 4px;
}

td.stat-label {
    padding: 3px;
    font-weight: bold;
    text-align: right;
}

td.stat-value {
    padding: 3px;
    font-family: 'Lucida Sans', Courier, monospace;
    font-size: 90%;
}

td.part-count {
    font-family: 'Lucida Sans', Courier, monospace;
    text-align: right;
}

table {
    margin-left: 1em;
}

table, td {
    border: solid #EEE 1px;
    border-collapse: collapse;
}

td .colorName {
    width: 7em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
}

div.gallery {
    animation: 0.4s ease-out 0s 1 slideInFromRight;

    text-align: center;
    overflow: hidden;
    max-width: 480px;
    background: white;
    border-left: solid black 3px;

    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

div.gallery-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
    max-height: 70vh;
}

div.gallery-entry {
    cursor: pointer;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 12px;
}

div.gallery-entry img {
    cursor: pointer;
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
    object-fit: contain;
    border: solid grey 3px;
    filter: drop-shadow(4px 4px 6px);
    margin: 0px;
    padding: 4px;
}

div.gallery-entry:nth-child(4n+0) img {
    background: #f37736
}

div.gallery-entry:nth-child(4n+1) img {
    background: #fdf498
}

div.gallery-entry:nth-child(4n+2) img {
    background: #7bc043
}

div.gallery-entry:nth-child(4n+3) img {
    background: #0392cf
}

div.gallery-delete {
    opacity: 0;
}

div.gallery-delete:hover {
    opacity: 1;
}

div.about {
    position: absolute;
    bottom: 1em;
    left: 0px;
    right: 0px;
    text-align: center;
}

div.dropbox {
    display: inline-block;
    text-align: center;
    padding-top: 1.5em;
    width: 80%;
    height: 6em;
    background: #CCC;
    border: dashed 1px black;
    border-radius: 6px;
}

div.print-dialog {
    animation: 0.2s ease-out 0s 1 printDialogAppear;

    position: absolute;
    left: 20%;
    right: 20%;
    top: 15%;
    height: auto;
    z-index: 100;
    background: white;
    border: solid black 3px;
    box-shadow: 0px 0px 24px black;
    padding: 1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.print-dialog h1.dialog-title {
    flex: 0 0 100%;
}

div.print-dialog div.print-setting-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0.3em;
    border-radius: 15px;

    box-shadow: 0px 0px 10px 0px rgba(0, 16, 48, 0.4);
}

div.print-dialog div.print-setting-group span.description {
    width: 0;
    min-width: 90%;
    word-wrap: break-word;
    text-align: justify;
}


div.print-dialog div.print-setting-group-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.print-dialog div.print-setting-group h1 {
    text-align: center;
    font-size: 140%;
    margin: 0px auto 0px auto;
    padding: 0px 15px 0px 15px;
}

div.print-dialog input[type="radio"] {
    display: none;
}

div.print-dialog label div.option {
    display: inline-block;
    margin: 4px 8px 4px 8px;
    padding: 0.1em 0.5em 0.6em 0.5em;
    border: solid grey 1px;
    border-radius: 10px;
    text-align: center;
}

div.print-dialog label div.option::selection {
    border-width: 4px;
}

div.print-dialog label div.option h3 {
    font-weight: normal;
    font-size: 110%;
    margin: 0px 0px 6px 0px;
}

div.print-dialog span.letter-icon {
    display: block;
    width: 42.5px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border: solid black 1px;
}

div.print-dialog span.a4-icon {
    display: block;
    width: 42px;
    height: 59.4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border: solid black 1px;
}

div.print-dialog input:checked + div.option {
    background-color: #ADF;
}

div.print-dialog img {
    width: 96px;
    height: 96px;
}

div.print-dialog span.actual-size, div.print-dialog span.stretch {
    display: inline-block;
    height: 60px;
    width: 40px;
    border: solid grey 1px;
}

div.print-dialog span.stretch {
    font-size: 45px;
}

div.print-dialog span.actual-size {
    line-height: 200%;
}

div.print-dialog div.final-row {
    display: flex;
    flex-direction: row-reverse;
    flex: 0 0 100%;
    align-items: stretch;
    height: 50px;
}

div.print-dialog div.final-row button {
    display: inline;
    font-size: 110%;
    padding: 0.4em;
    border-radius: 8px;
    margin: 0em 0.25em 0em 0.25em;
}

div.print-dialog button.print {
    order: 0;
}
div.print-dialog button.cancel {
    order: 1;
}
div.print-dialog img.pdf-logo {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

label.download-button-label {
    padding: 3px;
    margin-left: 5px;
    border: groove 2px;
    border-radius: 6px;
    background: #AAA;
    white-space: nowrap;
    filter: drop-shadow(1px 1px 2px);
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes printDialogAppear {
    0% {
        opacity: 0.3;
        transform: scale(0.6, 0.6);
    }
    100% {
        opacity: 1.0;
        transform: scale(1, 1);
    }
}

a.extern:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}