body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background: #777;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Can someone please remove this without
breaking anything? I don't understand what
it is and it makes me sad */

* {
    box-sizing: border-box;
}

a, a:visited {
    color: #000099;
    font-weight: bold;
    text-decoration: none;
}

body.loading * {
    animation-duration: 0s !important;
}

div.app-top {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

div.app-main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-height: 0;
    min-width: 0;
}

div.toolbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.toolbar-button {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 32px;
    background-color: #20A39E;
    border: solid 2px #23001E;
    border-radius: 8px;
    margin-left: 0.2em;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 4px #23001E;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}

.toolbar-button.icon {
    width: 72px;
}

.toolbar-button img {
    width: 40px;
    height: 40px;
}

a.toolbar-button img {
    padding: 4px;
}

.toolbar-button.on {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 1px #23001E;
}

.toolbar-button.on:active {
    transform: translate(4px, 4px);
}

.toolbar-button.off:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 1px #23001E;
}

span.toolbar-divider {
    width: 8px;
}

h1 {
    font-size: 120%;
}

div.welcome-screen {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    width: fit-content;
    max-width: 95%;
    height: auto;
    max-height: 85%;
    overflow-y: auto;
    z-index: 200;
    background: white;
    border: solid black 3px;
    border-radius: 12px;
    box-shadow: 0px 0px 24px black;
    padding: 1em;
}

div.welcome-screen img.welcome-pic {
    max-width: 80%;
    max-height: 23em;
}

div.welcome-screen button {
    width: 9em;
    height: 3em;
    border-radius: 18px;
}

@media (orientation: landscape) {
    div.options-row {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    div.options-row {
        flex-direction: column;
    }
}

div.options-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

div.options-group {
    flex-grow: 1;
    vertical-align: top;
    padding: 0.6em;
    border: solid #ddd 1px;
}

div.options-group label {
    display: block;
    white-space: nowrap;
}

div.options-group span.header {
    font-size: 115%;
    width: 100%;
    text-align: center;
    display: block;
    padding-bottom: 0.2em;
}

div.slider-caption {
    display: flex;
}

@media (orientation: landscape) {
    div.slider-caption {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    div.slider-caption {
        flex-direction: column;
    }
}

div.part-list-container {
    animation: 0.3s ease-out 0s 1 slideInFromRight;
    overflow-y: auto;
    min-width: fit-content;
}

table.part-list, table.plan-stats {
    display: table;
    vertical-align: top;
}

table.plan-stats {
    width: 100%;
    background: white;
    margin-top: auto;
}

table.part-list {
    background: white;
    border-collapse: collapse;
}

table.part-list td {
    border: solid #AAA 1px;
}

table.part-list th {
    font-size: 120%;
}

table.part-list td.color-swatch {
    padding: 3px;
}

table.part-list td.color-name {
    text-align: left;
    padding-left: 0.2em;
    width: 9em;
    text-overflow: ellipsis;
}

svg.plan {
    max-width: 100%;
    max-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

div.settings {
    animation: 0.3s ease-out 0s 1 slideInFromLeft;
    background: white;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
}

div.settings-header {
    font-size: 140%;
    width: 100%;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: solid #DDD 1px;
}

div.settings-list {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    background: white;
    overflow-y: auto;
}

div.close-button {
    font-size: 17px;
    position: absolute;
    text-align: center;
    text-shadow: #777 0px 0px 3px;
}

div.settings div.close-button {
    right: 4px;
    top: 0px;
}

div.settings-row {
    border-top: solid #444 1px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.2em;
}

div.settings-row:first-child {
    border-top: none;
}

div.settings-row div.header {
    font-size: 120%;
    font-weight: bold;
    margin-left: 1em;
}

div.plan-display {
    flex-grow: 1;
}

th.top-header {
    text-align: center;
}

td.legend-symbol {
    padding-left: 4px;
    padding-right: 4px;
    font-family: 'Lucida Sans', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

td.color-code {
    font-family: 'Lucida Sans', Courier, monospace;
    padding-left: 4px;
    padding-right: 4px;
}

td.stat-label {
    padding: 3px;
    font-weight: bold;
    text-align: right;
}

td.stat-value {
    padding: 3px;
    font-family: 'Lucida Sans', Courier, monospace;
    font-size: 90%;
}

td.part-count {
    font-family: 'Lucida Sans', Courier, monospace;
    text-align: right;
}

table, td {
    border: solid #EEE 1px;
    border-collapse: collapse;
}

td .colorName {
    width: 7em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
}

div.gallery {
    animation: 0.3s ease-out 0s 1 slideInFromRight;
    text-align: center;
    overflow: hidden;
    max-width: 480px;
    background: white;
    border-left: solid black 3px;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

div.gallery div.close-button {
    left: 4px;
    top: 4px;
}

div.gallery-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
    max-height: 70vh;
}

div.gallery-entry {
    cursor: pointer;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 12px;
}

div.gallery-entry img {
    cursor: pointer;
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
    object-fit: contain;
    border: solid grey 3px;
    filter: drop-shadow(4px 4px 6px);
    margin: 0px;
    padding: 4px;
}

div.gallery-entry:nth-child(4n+0) img {
    background: #f37736
}

div.gallery-entry:nth-child(4n+1) img {
    background: #fdf498
}

div.gallery-entry:nth-child(4n+2) img {
    background: #7bc043
}

div.gallery-entry:nth-child(4n+3) img {
    background: #0392cf
}

@media(hover: hover) {
    div.gallery-delete {
        opacity: 0;
    }
}

div.gallery-delete:hover {
    opacity: 1;
}

div.dropbox {
    display: inline-block;
    text-align: center;
    padding-top: 1.5em;
    width: 80%;
    height: 6em;
    background: #CCC;
    border: dashed 1px black;
    border-radius: 6px;
}

div.print-dialog {
    animation: 0.2s ease-out 0s 1 printDialogAppear;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    width: fit-content;
    max-width: 95%;
    height: auto;
    max-height: 85%;
    overflow-y: auto;
    z-index: 100;
    background: white;
    border: solid black 3px;
    box-shadow: 0px 0px 24px black;
    padding: 1em;
}

div.print-dialog div.print-options {
    display: flex;
    justify-content: center;
}

@media (orientation: portrait) {
    div.print-dialog div.print-options {
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    div.print-dialog div.print-options {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

div.print-dialog div.print-options div.print-setting-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0.3em;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 16, 48, 0.4);
}

div.print-dialog div.print-setting-group span.description {
    width: 0;
    min-width: 90%;
    word-wrap: break-word;
    text-align: justify;
}

div.print-dialog div.print-setting-group-options {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-grow: 1;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.print-dialog div.print-setting-group h1 {
    text-align: center;
    font-size: 140%;
    margin: 0px auto 6px auto;
    padding: 0px 15px 0px 15px;
}

div.print-dialog input[type="radio"] {
    display: none;
}

div.print-dialog label div.option {
    display: inline-block;
    width: 65px;
    height: 105px;
    margin: 4px 8px 4px 8px;
    padding: 0.1em 0.5em 0.6em 0.5em;
    border: solid grey 1px;
    border-radius: 10px;
    text-align: center;
}

div.print-dialog label div.option::selection {
    border-width: 4px;
}

div.print-dialog label div.option h3 {
    font-weight: normal;
    font-size: 110%;
    margin: 0px 0px 6px 0px;
}

div.print-dialog span.letter-icon {
    display: block;
    width: 42.5px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border: solid black 1px;
}

div.print-dialog span.a4-icon {
    display: block;
    width: 42px;
    height: 59.4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border: solid black 1px;
}

div.print-dialog input:checked+div.option {
    background-color: #ADF;
}

div.print-dialog img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

div.print-dialog span.size-actual, div.print-dialog span.size-stretch, div.print-dialog span.size-legible {
    display: inline-block;
    height: 60px;
    width: 40px;
    border: solid grey 1px;
}

div.print-dialog span.size-stretch {
    font-size: 41px;
}

div.print-dialog span.size-legible {
    font-size: 30px;
}

div.print-dialog span.size-size {
    line-height: 200%;
}

div.print-dialog div.print-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 50px;
    width: 100%;
}

div.print-dialog div.print-buttons button {
    display: inline;
    font-size: 110%;
    padding: 0.4em;
    border-radius: 8px;
    margin: 0em 0.25em 0em 0.25em;
}

div.print-dialog button.print {
    order: 0;
}

div.print-dialog button.cancel {
    order: 1;
}

div.print-dialog img.pdf-logo {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

label.download-button-label {
    padding: 3px;
    margin-left: 5px;
    border: groove 2px;
    border-radius: 6px;
    background: #AAA;
    white-space: nowrap;
    filter: drop-shadow(1px 1px 2px);
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes printDialogAppear {
    0% {
        opacity: 0.3;
        transform: scale(0.6, 0.6);
    }
    100% {
        opacity: 1.0;
        transform: scale(1, 1);
    }
}

a.extern:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}