body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

details {
    cursor: default;
}

details summary {
    font-size: 120%;
}

div.options-group {
    display: inline-block;
    vertical-align: top;
    padding: 0.6em;
    border: solid #ddd 1px;
    height: 8em;
}

div.options-group span, div.options-group label {
    display: block;
}

div.options-group .header {
    font-size: 110%;
    width: 100%;
    text-align: center;
}

span#legend {
    display: inline-block;
    vertical-align: top;
}

svg {
    max-height: 600px;
    max-width: 70%;
}

body {
    text-align: center;
    background: #777;
}

div.main {
    background: white;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    padding-left: 0em;
    padding-right: 0em;
}

div.main-row {
    position: relative;
    min-width: 50vw;
    border: solid #444 1px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.2em;
}

div.main-row div.header {
    font-size: 120%;
    font-weight: bold;
    margin-left: 1em;
}

th.top-header {
    text-align: center;
}

td.legend-symbol {
    padding-left: 4px;
    padding-right: 4px;
    font-family: 'Lucida Sans', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

td.color-code {
    font-family: 'Lucida Sans', Courier, monospace;
    padding-left: 4px;
    padding-right: 4px;
}

td.stat-label {
    padding: 3px;
    font-weight: bold;
    text-align: right;
}

td.stat-value {
    padding: 3px;
    font-family: 'Lucida Sans', Courier, monospace;
    font-size: 90%;
}

td.part-count {
    font-family: 'Lucida Sans', Courier, monospace;
    text-align: right;
}

table {
    margin-left: 1em;
}

table, td {
    border: solid #EEE 1px;
    border-collapse: collapse;
}

/* Make this fixed-width so it doesn't jostle the display
 * when the color names change
 */
td .colorName {
    width: 7em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
}

div#gallery {
    position: relative;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: leftpx;
    width: 14vw;
    background: white;
    border-left: solid black 3px;
}

div.gallery-list {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
    max-height: 70vh;
}

div.gallery-entry {
    cursor: pointer;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 12px;
}

div.gallery-entry img {
    cursor: pointer;
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
    object-fit: contain;
    background: grey;
    border: solid grey 3px;
    filter: drop-shadow(4px 4px 6px);
    margin: 0px;
    padding: 0px;
}

div.gallery-delete {
    opacity: 0;
}

div.gallery-delete:hover {
    opacity: 1;
}

div.about {
    position: absolute;
    bottom: 1em;
    left: 0px;
    right: 0px;
    text-align: center;
}

div#drop-target {
    display: inline-block;
    text-align: center;
    padding-top: 1.5em;
    width: 80%;
    height: 6em;
    background: #CCC;
    border: dashed 1px black;
}

label.download-button-label {
    padding: 3px;
    margin-left: 5px;
    border: groove 2px;
    border-radius: 6px;
    background: #AAA;
    white-space: nowrap;
    filter: drop-shadow(1px 1px 2px);
}

a.extern:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
